/* Will be compiled down to a single stylesheet with your sass files */
#mycontainer {
  width: 100%;
  height: 21rem;
}

.listitem {
  width: 100%;
  font-size: 2rem;
  height: 3rem;
  line-height: 3rem;
}

.listitem:nth-child(even){
	background-color: #eee;
}
.listitem:nth-child(odd){
  background-color: #ddd;
}

#logger {
	font-size: 1rem;
	line-height: 1;
	color: red;
	height: 5rem;
	overflow-y: scroll;
	width: 100%;
}